
<footer class="page-footer font-small mdb-color pt-4">
  <!-- <hr> -->
  <div class="row d-flex align-items-center">
    <!-- Grid column -->
    <div class="col-md-12 col-lg-12">
      <p class="text-center text-md-center">© 2018 Copyright:
        <a href="" class="footer-item">
          <strong> LABELPACK FZE</strong>
        </a>
      </p>
    </div>
    <!-- Grid column -->
    <!-- <div class="col-md-5 col-lg-4 ml-lg-0">
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</footer>